$bg-white: whitesmoke;
$bg-light: #dfc79c;
$bg-dark: #948365;
$bg-darkest: #4c4334;
$colour-crimson: #410618;
$colour-crimson-darker: #21030c;
$font-colour: #1c1c1c;
$font-colour-lighter: #282828;
$colour-error: crimson;
$colour-success: teal;
