@keyframes breathe {
  0% {
    stroke-width: 2cpx;
  }

  100% {
    stroke-width: 4px;
  }
}

:host {
  display: grid;
  grid-template: 'buttons' auto 'grid' 1fr;
  line-height: 0;
}

:host,
svg {
  width: 100%;
  height: 100%;
}

main {
  position: relative;

  &::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    box-shadow: inset 0 5px 10px 0 $bg-darkest, inset 0 -5px 10px 0 $bg-darkest;
    pointer-events: none;
  }
}

svg {
  .axis {
    &.cols,
    &.rows {
      color: $bg-dark;
    }
  }

  .highlight {
    fill: $bg-dark;
  }

  .buildings {
    rect {
      transition: fill 100ms ease-out;
      stroke-width: 2;
      opacity: .6;
    }
  }

  .outline {
    cursor: pointer;
    #{--colour}: #{$font-colour};

    &[mode=INSPECT] {}

    &[mode=BUILD], &[mode=MOVE_COMPLETE] {
      #{--colour}: #{$colour-success};

      rect.region-outline {
        fill-opacity: .3;
      }
    }

    &[mode=DESTROY] {
      #{--colour}: $colour-error;
    }

    &[mode=COPY], &[mode=MOVE_PICK] {
      #{--colour}: #{$colour-success};
    }

    &[error=true] {
      cursor: not-allowed;
      #{--colour}: $colour-error;
    }

    rect.region-outline {
      transition: stroke $duration-snap, fill $duration-snap;
      animation: breathe $duration-slow alternate infinite ease-in-out;
      stroke-width: 2px;
      stroke: var(--colour);
      fill: var(--colour);
      fill-opacity: 0;
    }

    path.text-bg {
      transition: stroke $duration-snap, fill $duration-snap;
      fill: var(--colour);
    }

    text {
      fill: $bg-light;
    }
  }

  text {
    user-select: none;
  }
}
